*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


#navo{

    display: flex;
    width: 200px;
    height: 100vh;
    background-color: lightgrey;
    position: fixed;
    left: 0;
    top: 0;
    color: #645e6c;
    padding: 10px;
}

#main-doc{

    margin-left: 250px;

}

a{
    text-decoration: none;
    color:#645e6c;

}

a:hover, a:focus{

    color: darkblue;
}

#intro{
    margin-top: 50px;
}

@media only screen and (max-width: 650px) {
    #navo {
        width: 100%;
        max-height: 30vh;
        position: sticky;
        top: 0;


    }

    #navbar{
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0 auto;
        overflow: auto;

    }

    #navbar > h3{
        white-space:nowrap;
    }

    #main-doc{

        margin-left: 50px;

    }
}

#navbar > h3, #navbar > h2{

    margin-bottom: 10px;
    margin-top: 10px;
}

#navbar> h3{
    margin-top: 15px;

}

.main-section h2, .main-section p, .main-section ul, .main-section ul >li{

    margin: 20px;

}

.code{
    width: 800px;
    height: 50px;
    background: lightgray;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.code code{
    margin-left: 10px;
}

#mdn{
    color: blue;
    text-decoration: underline;
}



#long-code{
    height: 80px;
}

#longer-code{
    height: 110px;
}